In [37]:
%pip install kaggle

Requirement already satisfied: kaggle in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (1.8.3)
Requirement already satisfied: black>=24.10.0 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from kaggle) (26.1.0)
Requirement already satisfied: bleach in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from kaggle) (6.3.0)
Requirement already satisfied: kagglesdk<1.0,>=0.1.14 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from kaggle) (0.1.15)
Requirement already satisfied: mypy>=1.15.0 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from kaggle) (1.19.1)
Requirement already satisfied: packaging in c:\users\cueva\appdata\roaming\python\python314\site-packages (from kaggle) (26.0)
Requirement already satisfied: protobuf in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from kaggle) (6.33.5)
Requirement already satisfied: python-dateutil in c:\users\cueva\appdata\roaming\python\python314\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from kaggle) (2.32.5)
Requirement already satisfied: six>=1.10 in c:\users\cueva\appdata\roaming\python\python314\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: tqdm in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from kaggle) (4.67.3)
Requirement already satisfied: types-requests in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from kaggle) (2.32.4.20260107)
Requirement already satisfied: types-tqdm in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from kaggle) (4.67.2.20260202)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from kaggle) (2.6.3)
Requirement already satisfied: click>=8.0.0 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from black>=24.10.0->kaggle) (8.3.1)
Requirement already satisfied: mypy-extensions>=0.4.3 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from black>=24.10.0->kaggle) (1.1.0)
Requirement already satisfied: pathspec>=1.0.0 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from black>=24.10.0->kaggle) (1.0.4)
Requirement already satisfied: platformdirs>=2 in c:\users\cueva\appdata\roaming\python\python314\site-packages (from black>=24.10.0->kaggle) (4.5.1)
Requirement already satisfied: pytokens>=0.3.0 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from black>=24.10.0->kaggle) (0.4.1)
Requirement already satisfied: colorama in c:\users\cueva\appdata\roaming\python\python314\site-packages (from click>=8.0.0->black>=24.10.0->kaggle) (0.4.6)
Requirement already satisfied: typing_extensions>=4.6.0 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from mypy>=1.15.0->kaggle) (4.15.0)
Requirement already satisfied: librt>=0.6.2 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from mypy>=1.15.0->kaggle) (0.7.8)
Requirement already satisfied: webencodings in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from requests->kaggle) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from requests->kaggle) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cueva\appdata\local\programs\python\python314\lib\site-packages (from requests->kaggle) (2026.1.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
%pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
# import libraries

import pandas as pd
import zipfile
import kaggle

In [ ]:
# download the file directly through the Python library
kaggle.api.dataset_download_files('hmavrodiev/london-bike-sharing-dataset', path='.', unzip=True)

print("Dataset downloaded and unzipped successfully!")

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
Dataset downloaded and unzipped successfully!

In [12]:
#read in the csv file as a pandas dataframe
bikes = pd.read_csv('london_merged.csv')

In [13]:
#explore the data
bikes.info()

<class 'pandas.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  str
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), str(1)
memory usage: 1.3 MB

In [14]:
bikes.shape

(17414, 10)

In [15]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [16]:
#count unique values in the weather_code column
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [17]:
# count the unique values in the season column
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [18]:
# specifying the column names I want to use
new_cols_dict ={
    'timestamp' : 'time',
    'cnt' : 'count',
    't1' : 'temp_real_C',
    't2' : 'temp_feels_like_C',
    'hum' : 'humidity_percent',
    'wind_speed' : 'wind_speed_kph',
    'is_holiday' : 'is_holiday',
    'is_weekend' : 'is_weekend',
    'season' : 'season'
}

#renaming the columns to the specified columns names 
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [ ]:
# changin the humidity values to percentage
bikes.humidity_percent = bikes.humidity_percent / 100

In [33]:
import pandas as pd

#Re-read the file to clear the NaNs
bikes = pd.read_csv('london_merged.csv')

#Define your dictionaries 
season_dict = {0: 'spring', 1: 'summer', 2: 'fall', 3: 'winter'}
weather_dict = {1:'clear', 2:'scattered clouds', 3:'broken clouds', 4:'cloudy', 7:'rain', 10:'rain with thunderstorm', 26:'snowfall'}

bikes['season'] = bikes['season'].map(season_dict)
bikes['weather_code'] = bikes['weather_code'].map(weather_dict)


bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,clear,0.0,1.0,winter

In [34]:
import pandas as pd

#Re-read the file to clear the NaNs
bikes = pd.read_csv('london_merged.csv')

is_holiday_dict = {0.0: 'No', 1.0: 'Yes'}
is_weekend_dict = {0.0: 'No', 1.0: 'Yes'}

bikes['is_holiday'] = bikes['is_holiday'].map(is_holiday_dict)
bikes['is_weekend'] = bikes['is_weekend'].map(is_weekend_dict)

bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,No,Yes,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,No,Yes,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,No,Yes,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,No,Yes,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,No,Yes,3.0

In [40]:
# writing the final dataframe to an excel file to visualize 
bikes.to_csv('london_bikes_final.csv', index=False)

print("CSV file created successfully!")

CSV file created successfully!